{
    "extends": ["react-app", "react-app/jest", "airbnb-base", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "env": {
        "node": true
    },
    "rules": {
        "prettier/prettier": "error",
        "no-param-reassign": ["error", { "props": false }]
    }
}
