.table {
    background: #dee2e6;
    width: 100%;
    padding-bottom: 1rem;
    color: #212529;
    margin-bottom: 0;
}

.table tbody tr:focus-visible {
    outline: none;
}

.table tbody tr td:first-child {
    background-color: #adb5bd;
    color: #373737;
}

.table th,
.table td {
    white-space: nowrap;
}

.active-row {
    background-color: greenyellow;
}
